.pose-visualizer-page{ 
    display: flex;
    flex-direction: column;
  }
  .picture-button-container{
    display: flex;
  }
  .pose-button{
    max-width: 300px;
  }
  .overlay-canvas{
    position: absolute;
    top: 0;
  }
  .canvas-container{
    position: relative;
  }
  .pose-display{
    display: flex;
    flex-direction: row;

  }

  .loader{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: .7;
    z-index: 1000;
  }